text {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
  text-anchor: middle;
  fill: white;
}

#background {
  width: 100%;
  height: 100%;
  fill: black;
}

#time {
  x: 48%;
  y: 87%;
  font-size: 60;
  text-anchor: end;
}

#details {
  font-size: 30;
  font-family: System-Regular;
  font-weight: regular;
  text-anchor: start;
  fill: white;
  x: 55%;
  y: 80%;
}

#heart {
  font-family: System-Light;
  fill: white;
  text-anchor: start;
  font-size: 22;
  x: 55%;
  y: 88%;
}
